# Python Variables and Data Types

In [1]:
counter = 10 #an integer assignment

mile = 10.05 #a floating point

name = "Chepi" #a string.

In [2]:
name

'Chepi'

In [3]:
mile

10.05

In [4]:
counter

10

In [5]:
a = b = c = 100 #same value assign to all the variable;

print(a, b, c)

100 100 100

In [6]:
a = 7; b = 10 ; c = "Chepi"; #different value assign to different variable with single line

print(a, b, c)

7 10 Chepi

In [7]:
a, b, c = 7, 10, "Chepi" #different value assign to different variable with single line

print(a, b, c)

7 10 Chepi

# Rules for Python Variable name

In [8]:
#A variable name can not start with a number

1var = 'India'

SyntaxError: invalid syntax (<ipython-input-8-6c5c993764bf>, line 3)

In [9]:
var = 'India'
print(var)

India

In [10]:
#There can be no spaces in the name, use _ instead of space.
First Name = 'Muzafer'

SyntaxError: invalid syntax (<ipython-input-10-3b86bf19d65e>, line 2)

In [11]:
First_Name = 'Muzafer'
print(First_Name)

Muzafer

In [12]:
#Can't use any of these symbols :'",<>/}]()!@#$%^&*-~

@username = 'Lipsha'

SyntaxError: invalid syntax (<ipython-input-12-00f13e1050eb>, line 3)

In [13]:
username = 'Lipsha'
print(username)

Lipsha